* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f5f5f5;
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
        background-color: #38833a;
    }

    &:active {
        background-color: #1a700b;
        color: #fff;
    }
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.teclasContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.nuevoJuego {
    margin-top: 20px;
    background-color: #3853da;
}